/*
File Name: styles.less
Date: 07/10/20
Author: Barbara Orts
*/

/* VARIABLES */

/* colors */

@baseColor: #F5F5F5;
@mBgColor: @baseColor;
@tBgColor: #DBDBDB;
@dBgColor: #DBDBDB;
@footerColor: black;


/* sizes */

@mFontSize: 18px;
@tFontSize: 18px;
@dFontSize: 18px;
@h1FontSize: 2em;
@h2FontSize: 1.3em;
@h3FontSize: 1.2em;


/* margins */

@bodyMargin: .3em 0;
@mobileMainMargin: 0.5em 0.5em;
@tabletMainMargin: 0.5em 1em;
@desktopMainMargin: 0.5em 1em;
@pMargin: 0.6em 0.5em;

@import "mixins.less";

/* GENERAL STYLES */

body, html {
  height: 100%;
  line-height: 1.6em;
}

body {
  font-family: 'Roboto', sans-serif;
  #ace_mixins > .commonProperties (@mBgColor, @mFontSize, @bodyMargin);
}

#logotype {
  width: 100%;
  max-width: 270px;
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}


main {
  background-color: white;
  padding: 10px;
}

p {
  margin: @mobileMainMargin;
}

h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  #ace_mixins > .size(@h1FontSize);
}

h2 {
  margin: @pMargin;
  font-weight: bold;
  #ace_mixins > .size(@h2FontSize);
  color: RGB(255, 0, 0);
  text-align: center;
}

h3 {
  margin: @pMargin;
}

section {
  padding: 5px;
  margin: 5px;
}

a.inside_link {
  text-decoration: none;
  cursor: pointer;
  color: #ff0000;
}

.cost {
  list-style-position: inside;
  margin-left: 20px;
}

ul.faq {
  list-style: inside circle;
  margin: 20px;
}




footer {
  #ace_mixins > .color(@footerColor);
  margin: 10px 0;
  text-align: center;
  background-color: white;
}

.footer_bio {
  font-size: 0.8em;
  padding: 5px;
}

.home_box {
  background-color: #FFE5E5;
  border-radius: 5px;
}

ul.socials {
  margin: 0;
  padding: 0;
}

ul.socials li {
  display: inline-block;
  margin: 10px 10px;
}

ul.start {
  text-align: center;
}

ul.start_times li {
  list-style: inside circle;
  padding: 5px;
}


.rego_button {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF6666;
  color: black;
  margin: 20px auto;
  font-size: 1.3em;
}

.rego_button:hover {
  background-color: #BDBDBD;
  color: black;
}


/* IMAGES */

.hero img {
  width: 100%;
  display: block;
  height: auto;
}

img.social_icon {
  padding: 5px;
  margin: 10px;
  width: 46px;
  height: 46px;
}

img.about_img, img.rego_photo, img.contact_img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.contact_para {
  text-align: center;
}

.center_para {
  text-align: center;
}

.photoGallery {
  display: none;
}

.galleria {
  width: 100%;
  height: 400px;
  background: #000;
}


/* EVENT PAGE LAYOUT*/

dt, dd {
  margin: 2px 0;
}

dt {
  cursor: pointer;
  font-size: 1.1em;
  color: red;
}

dt:hover {
  color: #ff0000;
}


/* arrow icon left */

dt:before {
  border: 0.5em solid;
  border-color: transparent transparent transparent #f2eeef;
  content: '';
  display: inline-block;
  height: 0;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 0;
}

dt:hover:before {
  border-left-color: #ff0000;

}

/* arrow icon down */

dt.open:before {
  border-color: #f2eeef transparent transparent transparent;
  border-bottom-width: 0;
}

dt.open:hover:before {
  border-left-color: transparent;
  border-top-color: #ff0000;
}


/* MOBILE ONLY STYLES */
@media only screen and (min-width: 320px) and (max-width: 765px) {

  iframe.map {
    width: 250px;
  }

  .social_media_feeds {
    display: none;
  }

}


/* TABLET STYLES */

@media only screen and (min-width: 768px) {

  body {
    #ace_mixins > .commonProperties(@tBgColor, @tFontSize, @bodyMargin);
  }

  header {
    background-color: white;
  }

  #logotype {
    width: 100%;
    max-width: 400px;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin: @tabletMainMargin;
  }

  img.about_img {
    text-align: center;
    padding: 20px;
  }

  .home_box {
    margin: 30px 20%;
  }

  .rego_button {
    margin: 30px 20%;
  }

  iframe.map {
    width: 400px;
    height: 300px;
  }

  /* ABOUT PAGE LAYOUT*/
  .grid_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .col_one {
    grid-column: 1 / 2;
  }

  .col_two {
    grid-column: 2 / 3;
  }

  .social_media_feeds {
    text-align: center;
  }

  .social_feed {
    padding: 30px;
    margin: 20px;
    background-color: #FF6666;
      }

  /* SMALL IMG GALLERY _ STATIC _ GRID */

  .photoGallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    margin: 15px;
    padding: 20px;
  }

  .photoGallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .image2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .image3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .image4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .image5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .image6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }

}


/* DESKTOP STYLES */

@media only screen and (min-width: 1020px) {

  body {
    #ace_mixins > .commonProperties(@dBgColor, @dFontSize, @bodyMargin);
  }

  header {
    background-color: white;
  }

  main {
    margin: @desktopMainMargin;
  }

  h2 {
    text-align: center;
  }

  section {
    margin: 25px 25px;
  }


  #logotype {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 10px;
  }

  iframe.map {
    width: 500px;
    height: 400px;
  }

  .galleria-images {
    width: 100%;
  }

}
