/*
File Name: styles.less
Date: 07/10/20
Author: Barbara Orts
*/
/* VARIABLES */
/* colors */
/* sizes */
/* margins */
/*
File Name: mixins.less
Date: 7/10/20
Author: Barbara Orts
*/
/* MIXINS */
/* GENERAL STYLES */
body,
html {
  height: 100%;
  line-height: 1.5em;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  font-size: 16px;
  margin: 0.3em 0;
}
#logotype {
  max-width: 100%;
  width: 500px;
  height: auto;
}
main {
  background-color: white;
  padding: 10px;
}
p {
  margin: 0.5em 0.5em;
}
h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  font-size: 2em;
}
h2 {
  margin: 0.6em 0.5em;
  font-weight: bold;
  font-size: 1.3em;
  color: #ff0000;
}
h3 {
  margin: 0.6em 0.5em;
}
footer {
  color: #ff0000;
  margin: 10px 0 ;
  text-align: center;
  background-color: white;
}
.footer_bio {
  font-size: 0.8em;
  padding: 5px;
}
ul.socials img {
  padding: 5px;
  margin: 10px;
  width: 46px;
  height: 46px;
}
ul.socials {
  margin: 0;
  padding: 0;
}
ul.socials li {
  display: inline-block;
  margin: 10px 10px;
}
/* HERO IMAGE */
.hero img {
  width: 100%;
  display: block;
  height: auto;
}
/* SMALL IMG GALLERY _ STATIC _ GRID */
.photoGallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  margin: 15px;
  padding: 20px;
}
.photoGallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.image2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.image3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.image4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.image5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}
.image6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
/* Forms */
form {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 30px;
  background-color: #FFE5E5;
  margin: 50px auto;
  border-color: #ff0000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 7px;
  margin-bottom: 10px ;
}
::-webkit-input-placeholder {
  /* Edge */
  font-size: 1em;
}
:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 1em;
}
::placeholder {
  font-size: 1em;
}
input[type=submit] {
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 18px;
}
/* MOBILE STYLES */
/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #DBDBDB;
    font-size: 16px;
    margin: 0.3em 0;
  }
  main {
    margin: 0.5em 1 em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .col_one {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .col_two {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 20px;
  }
  .col_three {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .col_four {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
/* DESKTOP STYLES */
@media only screen and (min-width: 1025px) {
  body {
    background-color: #DBDBDB;
    font-size: 18px;
    margin: 0.3em 0;
  }
  main {
    margin: 0.5em 1em;
  }
}
/*# sourceMappingURL=style.css.map */